node_modules/
dist/
out/
.DS_Store
*.log
.env
.env.local
app/node_modules
web/node_modules
web/.next/
app/dist
app/out
app/.DS_Store
app/*.log
app/.env
app/.env.local
web/dist/
web/out
web/.DS_Store
web/*.log
web/.env
web/.env.local